.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Ingredient{
  width: 150px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  align-items: center;
  transition: 0.3s;
}
.Ingredient:hover{
  width: 170px;
  height: 220px;
}
.Ingredient img{
  width: 100px;
  height: 80px;
  border-radius: 10px;
  margin: 10px;
}
.Ingredient p{
  font-size: 10px;
  margin: 0;
}
.Ingredient span{
  font-size: 14px;
  
}
.Steps{
  overflow-y: scroll;
  position: relative;
  top: 30px;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
}
.Ingredient:hover .Steps{
  visibility: initial;
  top:0px;
  opacity: 1;
}
.InputWrapper input{
  width: 200px;
  height: 30px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);

}
.InputWrapper button{
  width: 80px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  /* outline:#61dafb; */
  
}